.item-header-1{
    text-align: center;
    font-weight: bold;
    position: relative;
    margin-left:5%;
    margin-top:40%;
    font-size: 18px;
}

.btnt{
     margin-top:5%;
     margin-left:15%;
}

.item-header-2{
    font-size: 12px;
    margin-left:20% ;
}